@import "imports/variables.css";

body {
    background-color: var(--background);
    margin: 0 auto;
}

h1,
h2,
a,
.coming-up {
    font-family: var(--header-font), Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
nav li,
.coming-up {
    text-transform: uppercase;
}

header {
    background-color: var(--header-opacity);
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 120px 80px;
}

.fa-bars,
#menu {
    display: none;
    grid-column-start: 1;
    grid-row-start: 1;
}

.logo,
.home-link,
h1 {
    grid-row-start: 1;
}

.logo {
    max-width: 100px;
    margin: 30px 0 0 80px;
    grid-column-start: 1;
}

.home-link {
    grid-column-start: 3;
    grid-row-end: 2;
    width: 50%;
    margin: 45px auto;
    text-align: center;
    font-size: clamp(1em, 0.1em + 2vw, 1.2em);
}

h1 {
    color: var(--effects);
    margin: 50px auto 0 auto;
    grid-column-start: 2;
    font-size: clamp(0.8em, 0.2em + 2vw, 2em);
}

.menu {
    display: grid;
    grid-template-columns: 20px;
    grid-column-start: 2;
}

.menu_nav {
    grid-column-start: 2;
}

h2,
a {
    color: var(--text);
}

p,
.hyperlink a {
    font-family: var(--body-text), Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(0.8em, 0.1em + 2vw, 1.2em);
}

.cta {
    font-family: var(--cta-font), Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    background-color: var(--header);
    margin: auto;
    border-radius: 5px;
    border: 2px solid;
    padding: 8px 18px;
}

.cta:hover,
.cta a:hover {
    background-color: var(--effects);
    color: var(--background);
    filter: drop-shadow(2px 2px 2px);
}

a {
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin: 0 auto 20px auto;
}

ul {
    font-size: clamp(1em, 0.2em + 2vw, 1.5em);
    display: flex;
    width: 80%;
    margin: 20px auto;
}

.active,
.hover:hover,
li:hover {
    color: var(--effects);
    text-decoration: underline;
}

footer {
    background-color: var(--footer);
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    padding: 50px 0 50px 80px;
}

.footer-text,
h3 {
    font-size: 1em;
}

.footer-text,
.fa-brands {
    color: var(--background);
}

.icons {
    font-size: 2em;
    display: flex;
    gap: 1em;
}

.top_item {
    margin: 50px auto;
}

/* Home Page */
.promotion {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 50px 50px 50px 1fr;
}

.promotion img {
    max-width: 100%;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}

.promotion h2 {
    grid-row-start: 3;
}

.coming-up,
.hyperlink,
.promotion h2 {
    margin: auto 50px;
    font-size: 1.5em;
}

.coming-up {
    grid-row-start: 2;
}

.hyperlink {
    grid-row-start: 4;
    font-size: 1em;
    text-decoration: underline;
    color: var(--effects);
}


.hyperlink:hover {
    font-size: 1.2em;
    color: var(--effects);
    filter: drop-shadow(5px 5px 2px var(--drop-shadow));
}

.exhibition {
    background-color: var(--effects);
    filter: drop-shadow(5px 5px 5px var(--drop-shadow));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 60px;
    max-width: 500px;
}

.exhibition img {
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.exhibition h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    color: var(--background);
    margin: auto 0 auto 50px;
    font-size: 1.3em;
}

.explore,
.open {
    display: flex;
    gap: 1em;
    margin: 0 1em;
    justify-content: center;
}

.open {
    gap: 3em;
}

.open a {
    color: var(--background);
    font-size: 1.5em;
}

.open section {
    background-color: var(--effects);
    margin: 3em 0;
    width: 550px;
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
    filter: drop-shadow(5px 5px 5px var(--drop-shadow));
}

/* Welcome */
.welcome, 
.kids {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.welcome img,
.kids img {
    max-width: 85%;
    margin: 0 auto;
}

h2 {
    font-size: clamp(1em, 0.1em + 2vw, 1.4em);
}

.kids,
.kids h2 {
    background-color: var(--effects);
    color: var(--background);
}

.kids {
    max-width: 100%;
    padding: 20px 0;
}

.kids_div { 
    margin: 0 auto;
    max-width: 85%;
}

.club {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5em 1fr;
    max-width: 100%;
    margin: 0;
}

.club p {
    margin-right: 40px;
}

 .club h3 {
    grid-row-start: 1;
 }

 .support {
    width: 95%;
 }


 /* Groups */
 .booking {
    background-color: var(--form);
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
 }

 .booking h2 {
    margin: 80px auto 0 auto;
 }

 .tour {
    display: flex;
    gap: 3em;
    justify-content: center;
    padding: 30px 0 80px 0;
 }

.column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form {
    position: relative;
    width: 400px;
}

.form__input{
    width: 100%;
    height: 2.5em;
}

.message {
    height: 9em ;
}

.form__label {
    position: absolute;
    font-family: var(--body-text);
    left: 1.2em;
    top: 0.6em;
    padding: 0 0.5em;
    opacity: 70%;
    cursor: text;
    transform: top 200ms ease-in,
               left 200ms ease-in;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus)  ~ .form__label{
    top: -0.9em;
    font-size: 0.8em;
    left: 0.6rem;
    opacity: 100%;
    font-family: var(--text);
    color: var(--body-text);
    background-color: white;
    border-radius: 3px;
    padding: 2px 10px;
}

.send {
    padding: 8px 35px;
}

/* Events */
.event {
    display: flex;
    max-width: 1000px;
    gap: 2.5em;
    align-items: center;
    margin: o auto;
}

.event img {
    width: 50%;
}

.read {
    margin: 0;
}

.botany_img {
    height: 400px;
    margin: 0 110px;
}

.text {
    max-width: 500px;
}

/* Explore */
.exhibit {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    max-width: 1000px;
    max-height: 500px;
}

.exhibit img {
    max-width: 100%
}

.crop__img {
    width: 500px;
    height: 309px;
    object-fit: fill;
}

.exhibit__text,
.right {
    max-width: 450px;
    margin: auto 0;
}

.right {
    margin: 90px 0 auto 50px;
}

.exhibit__text,
.exhibit__img-left {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.exhibit__img1,
.right {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.exhibit__img2,
.exhibit__img3 {
    grid-row-start: 3;
    height: 110%;
    margin: 0 auto;
}

.exhibit__img2 {
    grid-column-start: 1;
}

.exhibit__img3 {
    grid-column-start: 2;
}

/* Admission & info */
.admin {
    max-width: 70%;
    display: flex;
    align-items: center;
}

.question {
    background-color: var(--form);
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin: auto;
    padding: 80px;
    gap: 3em;
}

.question h2 {
    text-transform: initial;
}

.feedback {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.question__message {
    height: 100px;
}

.hours,
.hours h2,
.admission,
.admission h2 {
    background-color: var(--effects);
    color: var(--background);
    padding: 20px;
    margin: 0;
    filter: drop-shadow(5px 5px 5px var(--drop-shadow));
}

.no-gap {
    display: flex;
    gap: 3em;
}

.days {
    display: flex;
    flex-direction: column;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 0 1.2em;
}

.admission {
    grid-column-start: 2;
    grid-column-end: 4;
}
 @media (max-width:430px) {
    header {
        grid-template-columns: 100px 1fr 80px;
        grid-template-rows: 50px 50px;
    }

    header a {
        font-size: 1em;
    }

    .logo {
        max-width: 50px;
        margin: auto;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .menu {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: auto;
    }

    .fa-bars {
        font-size: 1.5em;
    }

    .fa-bars {
        display: block;
        cursor: pointer;
    }

    .menu_nav {
        display: none;
    }

    .home-link {
        width: 100%;
        grid-column-start: 2;
        margin: 20px auto;
    }

    h1 {
        grid-row-start: 2;
        margin: 10px auto;
    }

    .menu:checked ~ .menu_nav {
        display: block;
        position: fixed;
        top: 100px;
        right: 0;
        width: 100%;
        text-align: right;
        margin: 0;
    }

    nav li {
        width: 140px;
        margin: 10px 20px 10px auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        background-color: var(--header-opacity);
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .cta {
        font-size: 0.8em;
        padding: 10px 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px;
        gap: 1em;
    }

    h3,
    footer p {
        font-size: 1em;
    }

    .footer-text {
        margin: 0;
        width: 80%;
    }

    .icons {
        font-size: 1.5em;
    }

    /* Home page*/
    .promotion {
        grid-template-columns: 30% 50% 20%;
        grid-template-rows: 2fr 50px;
        width: 90%;
        background-color: var(--effects);
        margin: 20px auto;
    }

    .promotion img {
        width: 95%;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-end: 3;
        margin: 10px auto 5px auto;
    }

    .promotion h2,
    .coming-up,
    .hyperlink {
        grid-row-start: 3;
        font-size: 1em;
        margin: 0;
        text-transform: capitalize;
        color: var(--background);
    }

    .hyperlink:hover {
        font-size: 1.05em;
        text-decoration: underline;
    }

    .promotion h2 {
        grid-column-start: 2;
    }

    .coming-up {
        grid-column-start: 1;
        padding: 0 0 0 10px;
    }

    .promotion a {
        grid-column-start: 3;
        font-size: 0.8em;
        color: var(--background);
        margin: 0 10px;
    }

    .explore,
    .open {
        flex-direction: column;
        margin-top: 50px;
    }

    .exhibition,
    .exhibition h2 {
        color: var(--body-text);
        background-color: var(--background);
        filter: none;
        font-size: 1.2em;
        grid-template-columns: 1fr 1fr;
    }

    .exhibition img {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .exhibition a {
        grid-column-end: 3;
    }

    .exhibition h2, 
    .animal a {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        margin: auto;
        text-transform: capitalize;
    }

    .animal h2 {
        grid-column-start: 2;
        margin: auto;
    }

    .open a {
        font-size: 1.1em;
        padding: 8px;
        text-transform: capitalize;
    }

    .open section {
        width: 90%;
        margin: 0 auto;
    }

    .open {
        margin: 3em auto;
        gap: 2em;
    }

    /* Welcome */ 
    .welcome{
        max-width: 90%;
    }

    .welcome img,
    .kids img {
        width: 100%;
    }

    .kids {
        max-width: 100%;
        padding: 20px 0;
    }

    .kids div {
        max-width: 90%;
        margin: 0 auto;
    }

    .club {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .club p {
        margin: 0;
    }

    .club h3 {
        text-transform: uppercase;
        font-family: var(--body-text);
    }

    /* Groups */
    .tour {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        gap: 1em;
        margin: 0 auto;
        justify-content: center;
    }

    .form {
        width: 250px;
    }

    .send {
        padding: 10px 40px;
    }

    /* Explore */
    .explore_main {
        display: flex;
        flex-direction: column;
        gap: 5em;
        margin: 50px auto;
    }

    .exhibit {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 0.5fr;
        width: 90%;
        margin: 0px auto 50px auto;
    }

     .exhibit__img1,
     .exhibit__img-left {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 2;
     }

     .exhibit__text {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
     }

     .right {
        margin: 0;
     }

     .crop__img {
        object-fit: contain;
        width: 100%;
        height: fit-content;
     }

     .exhibit__img2,
     .exhibit__img3 {
        width: 100%;
        height: fit-content;
     }

     .botany {
        height: 150px;
        width: initial;
     }

     /* Event */
     .event {
        flex-direction: column;
        margin: 50 auto;
        gap: 1em;
     }

     .event img,
     .text {
        width: 90%;
        margin: 0;
     }

     .botany_img {
        height: 280px;
        object-fit: contain;

    }

     .middle {
        flex-direction: column-reverse;
     }
 }

 @media (max-width:400px){
    .hyperlink {
        font-size: 0.9em;
    }

    .hyperlink:hover {
        font-size: 1em;
    }

 }

 @media  (max-width:360px) {
    .home-link {
        font-size: 0.7em;
    }

    .hyperlink:hover {
        font-size: 0.85em;
    }

    .cta,
    .promotion p,
    .promotion h2 {
        font-size: 0.8em;
    }

    .footer-text {
        font-size: 0.6em;
    }

    .exhibition h2,
    .open a {
        font-size: 1em;
    }

    .promotion a {
        font-size: 0.75em;
    }

    .botany_img {
        height: 240px;
    }
 }
