@media (min-width:1150px) {
    .cta {
        padding: 8px 18px;
    }

    .send {
        padding: 8px 35px;
    }

    .welcome img,
    .kids img {
        width: 970px;
    }
}

@media (max-width:1050px){
    header {
        grid-template-columns: 100px 1fr 200px;
        grid-template-rows: 80px 80px;
    }
    
    .logo{
        margin: 20px 0 0 30px;
    }

    footer {
        grid-template-columns: 2fr 1fr;
    }

    /* Home page */
    .promotion {
        width: 90%;
    }

    /* Welcome */
    .welcome,
    .kids_div,
    .exhibit {
        width: 90%;
    }

    /* Explore */
    .exhibit {
        max-height: 470px;
    }

    .botany_exhibit {
        height: 500px;
    }

    .botany {
        height: 150px;
    }

     .crop__img {
        height: 290px;
    }
}

@media (max-width:1000px) {
    .cta {
        padding: 8px 10px;
        font-size: 0.7em;
    }

    .send {
        padding: 8px 35px;
    }
   
    .event {
        width: 90%;
    }

    /* Explore */
    .exhibit {
        max-height: 450px;
    }
     .crop__img {
        height: 280px;
    }
}

@media (max-width:950px) {
    .botany_img {
        height: 350px;
    }

    /* Explore */
    .exhibit {
        max-height: 430px;
    }
     .crop__img {
        height: 265px;
    }
}

@media (max-width:900px) {
    /* Groups */
    .tour {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        gap: 1em;
        margin: 0 auto;
        justify-content: center;
    }

    /* Explore */
    .exhibit {
        max-height: 410px;
    }

     .crop__img {
        height: 250px;
    }
}

@media (max-width:850px) {
    header {
        grid-template-columns: 100px 1fr 80px;
        grid-template-rows: 50px 50px;
    }

    .logo {
        width: 60px;
        margin: 10px 30px;
    }

    .menu {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: auto;
    }

    .fa-bars {
        font-size: 2em;
    }

    .fa-bars {
        display: block;
        cursor: pointer;
    }

    .menu_nav {
        display: none;
    }

    .home-link {
        width: 100%;
        grid-column-start: 2;
        margin: 20px auto;
    }

    h1 {
        grid-row-start: 2;
        margin: 10px auto;
    }

    .menu:checked ~ .menu_nav {
        display: block;
        position: fixed;
        top: 100px;
        right: 0;
        width: 100%;
        text-align: right;
        margin: 0;
    }

    nav li {
        width: 140px;
        margin: 10px 20px 10px auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        background-color: var(--header-opacity);
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Home page */
    .open {
        flex-direction: column;
        margin: 50px 150px;
        gap: 2em;
    }

    .open section {
        margin: 0;
        width: 90%;
    }

    /* Explore */
    .exhibit {
        max-height: 380px;
    }

    .botany_exhibit {
        max-height: 405px;
    }

     .crop__img {
        height: 230px;
    }

    /* Admission & Info */
    .q-f {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
     }

    .q-f {
        padding: 50px 10px;
        gap: 1em;
        max-width: 80%;
     }
 
     .q-f h2 {
        text-align: center;
     }
 
     .feedback {
        width: inherit;
     }
}

@media (max-width:810px) {
    .cta {
        padding: 8px;
    }

    .send {
        padding: 8px 35px;
    }
}

@media (max-width:800px) {
    footer {
        grid-template-columns: 1.5fr 1fr;
    }
    
    .botany_img {
        height: 300px;
    }

    /* Home page */
    .coming-up,
    .hyperlink,
    .promotion h2 {
    margin: auto 0 auto 30px;
    }

    .open {
        margin: 50px 100px;
    }

    /* Explore */
    .exhibit {
        max-height: 360px;
    }

    .botany_exhibit {
        max-height: 385px;
    }

    .botany {
        height: 140px;
    }

     .crop__img {
        height: 220px;
    }
}

@media (max-width:750px) {
    /* Home page */
    .open {
        margin: 50px 80px;
    }

    /* Admission */
    .info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .admission {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* Explore */
    .exhibit {
        max-height: 340px;
    }

    .botany_exhibit {
        max-height: 360px;
    }

    .botany {
        height: 130px;
    }

     .crop__img {
        height: 200px;
    }
}

@media (max-width:700px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }

    .cta {
        padding: 8px 3px;
    }

    .send {
        padding: 8px 35px;
    }

    /* Home page */
    .coming-up,
    .hyperlink,
    .promotion h2 {
    margin: auto 0 auto 20px;
    }

    .exhibition h2 {
        margin: auto 0 auto 20px;
        font-size: 1.2em;
    }

    .open {
        margin: 50px 70px;
    }

    /* Explore */
    .explore_main {
        margin-bottom: 50px;
    }
    
    .exhibit {
        max-height: 320px;
    }

    .botany_exhibit {
        max-height: 340px;
    }

    .botany {
        height: 120px;
    }

     .crop__img {
        height: 180px;
    }
}

@media (max-width:650px) {
    footer {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px;
        gap: 1em;
    }

    .footer-text {
        margin: 0;
        width: 80%;
    }

    .cta {
        padding: 8px 12px;
        font-size: 0.9em;
    }
    
    .send {
        padding: 8px 35px;
    }

    /* Home page*/
    .promotion {
        grid-template-columns: 30% 50% 20%;
        grid-template-rows: 2fr 50px;
        background-color: var(--effects);
        margin: 20px auto;
        padding: 15px;
    }

    .promotion img {
        width: 95%;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-end: 3;
        margin: 0 auto;
    }

    .promotion h2,
    .coming-up,
    .promotion__read {
        grid-row-start: 3;
        margin: 0;
        text-transform: capitalize;
        color: var(--background);
    }

    .promotion__read:hover {
        font-size: 1.05em;
        text-decoration: underline;
    }

    .promotion h2 {
        grid-column-start: 2;
    }

    .coming-up {
        grid-column-start: 1;
    }

    .promotion a {
        grid-column-start: 3;
        font-size: 0.8em;
        color: var(--background);
        margin: 0 10px;
    }

    .explore {
        flex-direction: column;
        margin: 50px 75px;
    }

    .exhibition,
    .exhibition h2 {
        color: var(--body-text);
        background-color: var(--background);
        filter: none;
        font-size: 1.2em;
        grid-template-columns: 1fr 1fr;
    }

    .exhibition img {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .exhibition a {
        grid-column-end: 3;
    }

    .exhibition h2, 
    .animal a {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        margin: auto;
        text-transform: capitalize;
    }

    .animal h2 {
        grid-column-start: 2;
        margin: auto;
    }

    .open {
        margin: 50px;
    }

    /* Explore */
    .exhibit {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 0.5fr;
        width: 90%;
        margin: 50px auto 130px auto;
        max-height: 700px;
    }

    .botany_exhibit {
        height: 700px;
    }

     .exhibit__img1,
     .exhibit__img-left {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 2;
     }

     .exhibit__text {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        max-width: 90%;
     }

     .right {
        margin: 0;
     }

     .crop__img {
        object-fit: contain;
        width: 100%;
        height: 383px;
     }

     .exhibit__img2,
     .exhibit__img3 {
        width: 100%;
        height: unset;
     }

     .botany {
        height: 230px;
        width: initial;
        margin-bottom: 50px;
     }
}

@media (max-width:600px) {
    /* Home page*/
    .explore,
    .open {
        margin: 50px;
    }

    /* Welcome */ 
    .welcome{
        max-width: 90%;
    }
    
    .welcome img,
    .kids img {
        width: 100%;
    }
    
    .kids {
        max-width: 100%;
        padding: 20px 0;
    }
    
    .kids div {
        max-width: 90%;
    }
    
    .club {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .club h3 {
        text-transform: uppercase;
    }
    
    .club p {
       margin: 0;
    }

    .exhibit {
        max-height: 670px;
    }

    /* Explore */
    .crop__img {
        height: 360px;
     }
}

@media (max-width:550px) {
    /* Home page*/
    .explore,
    .open {
        margin: 50px 30px;
    }

     /* Event */
     .event {
        flex-direction: column;
        margin: 50 auto;
        gap: 1em;
    }
    
    .event img,
    .text {
        max-width: 100%;
        margin: 0 auto;
    }
    
    .botany_img {
        height: 310px;
        object-fit: contain;
    }
    
    .middle {
        flex-direction: column-reverse;
    }

    /* Explore */ 
    .exhibit {
        max-height: 600px;
        margin: 50px auto 150px auto;
    }

    .botany_exhibit {
        max-height: 630px;
    }

    .botany {
        height: 180px;
    }

    .crop__img {
        height: 330px;
    }
}

@media (max-width:500px) {
    .logo {
        margin: 10px 20px;
    }

    /* Home page*/
    .explore,
    .open {
        margin: 1em;
    }

    /* Explore */
    .exhibit {
        margin: 50px auto 90px auto;
    }

    .crop__img {
        height: 300px;
     }

    /* Groups */
    .form {
        width: 250px;
    }
    
    .send {
        padding: 10px 40px;
    }

    /* Admission */
    .info,
    .admin_info {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: center;
    }

    .admin {
       width: 90%;
    }

    .no-gap {
       gap: 5em;
    }

    .admin_info {
       gap: 0;
    }
}

 @media (max-width:430px) {
    header {
        grid-template-columns: 100px 1fr 80px;
        grid-template-rows: 50px 50px;
    }

    header a {
        font-size: 1em;
    }

    .logo {
        max-width: 50px;
        margin: 10px auto;
    }

    .fa-bars {
        font-size: 1.5em;
    }

    .cta {
        font-size: 0.8em;
        padding: 10px 20px;
    }

    footer h3 {
        font-size: 0.8em;
    }

    .icons {
        font-size: 1.5em;
    }

    /* Home page*/
    .promotion {
        padding: 5px;
    }

    .coming-up {
        padding: 0 0 0 10px;
    }

    .promotion a {
        margin: 0 10px;
    }

    .open a {
        font-size: 1.1em;
        padding: 8px;
        text-transform: capitalize;
    }

    .open section {
        width: 90%;
        margin: 0 auto;
    }

    .open {
        margin: 3em auto;
        gap: 2em;
    }

    /* Explore */
    .exhibit {
        max-height: 550px;
        margin: 50px auto 110px auto;
    }

    .botany_exhibit {
        height: 550px;
    }

    .botany {
        height: 150px;
        width: initial;
     }

    .crop__img {
        height: 255px;
     }

     /* Event */
     .botany_img {
        height: 280px;
    }
 }

 @media (max-width:400px){
    .hyperlink {
        font-size: 0.9em;
    }

    .hyperlink:hover {
        font-size: 1em;
    }

    .exhibit {
        margin: 50px auto 80px auto;
    }

    /* Explore */
    .crop__img {
        height: 240px;
    }
 }

 @media (max-width:375px){
    .home-link {
        font-size: 0.8em;
    }

    .exhibit {
        margin: 50px auto 70px auto;
    }

    /* Explore */
    .crop__img {
        height: 224px;
    }
 }

 @media (max-width:335px){
    .home-link {
        font-size: 0.7em;
    }
 }

 @media  (max-width:360px) {
    .hyperlink:hover {
        font-size: 0.85em;
    }

    .cta,
    .promotion p,
    .promotion h2 {
        font-size: 0.8em;
    }

    .footer-text {
        font-size: 0.6em;
    }

    .exhibition h2,
    .open a {
        font-size: 1em;
    }

    .promotion a {
        font-size: 0.75em;
    }

    /* Explore */
    .crop__img {
        height: 191px;
    }

    .botany_img {
        height: 240px;
    }
 }